/* styles/ArtistSwiper.module.css */
.swiperContainer {
  overflow: visible;
  width: auto;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  max-height: 100%;
  max-width: 100%;
  height: 585px;
  width: 900px;
  object-fit: contain;
  /* 비율을 유지하면서 컨테이너에 맞춤 */
}