.container {
    padding: 20px;
}

.title {
    color: white;
    font-size: 36px; /* 제목 폰트 크기 증가 */
    font-weight: bold;
    margin-bottom: 20px;
    /* Swiper 너비(900px)에 맞춰 정렬 */
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.back {
    margin-top: 20px;
    text-align: center;
  }
  
.back a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }

.back a:hover {
    text-decoration: underline;
}