.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    display: flex;
    gap: 1%;
    z-index: 1;
}

.left_box {
    width: 73.5%;
    background-color: #ACACAC;

}

.right_box {
    display: flex;
    flex-direction: column;
    color: white;
    width: 25.5%;
    background-color: #202024;
    border-radius: 3%;
    padding: 1%;
}

.main_artist {
    display: flex;
    align-items: center;
    gap: 8%;
    margin-top: 5%;
}

.main_artist h1 {
    font-size: 1.8rem;
}

.main_artist img {
    border-radius: 50%;
    margin-left: 8%;
}

.art_title {
    font-size: 1.0rem;
    margin-top: 8%;
}

.art_series_name {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 300;
}

.description {
    margin-top: 8%;
}

.description h3 {
    font-size: 1.0rem;
    font-weight: bold;
}

.description p {
    margin-top: 8%;
    font-size: 0.8rem;
    height: 240px;
    overflow-y: scroll;
    padding-right: 1%;
}

.credits{
    margin-top: 8%;
}
.credits img{
    border-radius: 50%;
}
.credits p{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 2%;
    gap: 2%;
}