.background {
  height: 100%;
  background-color: #252429;
}

.container {
  position: relative;
  top: 70px;
  margin-left: 500px;
  margin-right: 450px;
}

.container p {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
}

.artist_container {
  position: relative;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 180px;
}
