.background {
  background: #fff;
  height: 1848px;
  display: flex;
}

.sidebar {
  width: 280px;
  height: 100%;
  flex-shrink: 0;
  background: #261428;
}

.title {
  width: 280px;
  height: 77px;
  flex-shrink: 0;
  background: #5c4b4b;
  display: flex;
  align-items: center;
  padding-left: 18px;
  margin-bottom: 57px;
}

.title svg {
  width: 21.001px;
  height: 25px;
  flex-shrink: 0;
  margin-right: 14px;
}

.title p {
  color: #fff;
  font-family: Noto Sans KR;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.manage,
.manage_active {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  height: 30px;
}

.manage svg {
  margin-right: 19px;
  margin-left: 22px;
}

.manage path {
  fill: #929292;
}
.manage p {
  color: #929292;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.45px;
}

.manage_active svg:first-child {
  margin-left: 3px;
  margin-right: 17px;
}

.manage_active p {
  margin-left: 21px;
  color: #fff;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.45px;
}

.content {
  margin-top: 77px;
  margin-left: 100px;
}

.content_info:first-child {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
  margin-bottom: 22px;
}
.content_info:nth-child(2) {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 31px;
}

.member_plus {
  width: 120px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #5aadf9;
  display: flex;
  border: none;
  align-items: center;
  margin-bottom: 19px;
}

.member_plus svg {
  margin-left: 13px;
  margin-right: 13px;
}

.member_plus p {
  color: #fff;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-style: normal;
  font-weight: 350;
  line-height: 15px; /* 100% */
  letter-spacing: -0.375px;
}
.data {
  width: 1350px;
  border-spacing: 0;
  table-layout: fixed;
}

.data tr {
  height: 160px;
}

.data td {
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #cecece;
}

.data tr:first-child {
  background: #ebebeb;
  color: #dca05b;
  font-family: Noto Sans KR;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  height: 45px;
}

.data th:not(:first-child),
.data th:not(:last-child) {
  border: 1px solid #cecece;
  border-right: none;
}
.data th:first-child {
  border-radius: 10px 0px 0px 0px;
  border: 1px solid #cecece;
  border-right: none;
}
.data th:last-child {
  border-radius: 0 10px 0px 0px;
  border: 1px solid #cecece;
}

.data th:first-child,
.data td:first-child {
  width: 150px;
}
.data th:nth-child(2),
.data td:nth-child(2),
.data th:nth-child(3),
.data td:nth-child(3),
.data th:nth-child(4),
.data td:nth-child(4),
.data th:nth-child(5),
.data td:nth-child(5),
.data th:nth-child(6),
.data td:nth-child(6) {
  width: 200px;
}
.data th:nth-child(7),
.data td:nth-child(7) {
  width: 100px;
}

.data td:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.delete {
  width: 60px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  background: #df7272;
  color: #fff;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  letter-spacing: -0.35px;
}

/*역할*/
.illustrator {
  display: inline-block;
  color: #a81616;
  border-radius: 4px;
  background-color: #ffabab;
  padding: 3px 8px 1px 8px;
  margin-bottom: 6px;
}
.animator {
  display: inline-block;
  color: #a4822a;
  border-radius: 4px;
  background: #ffcf97;
  padding: 3px 8px 1px 8px;
  margin-bottom: 6px;
}
.composer {
  display: inline-block;
  color: #41ba80;
  border-radius: 4px;
  background: #b0eebd;
  padding: 3px 8px 1px 8px;
  margin-bottom: 6px;
}
.writer {
  display: inline-block;
  color: #4163ba;
  border-radius: 4px;
  background: #abc3ff;
  padding: 3px 8px 1px 8px;
}

/*공통 모달 설정*/
.modal_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.addmembermodal_content {
  position: relative;
  width: 582px;
  height: 261px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 20px 14px rgba(0, 0, 0, 0.25);
  padding: 30px 0 0 37px;
}

.addmembermodal_content p:first-child {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.575px;
  margin-bottom: 7px;
}
.addmembermodal_content p:nth-child(2) {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 26px;
}
.addmembermodal_content input {
  display: flex;
  width: 350px;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  padding-left: 3px;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 41px;
}

.modal_button {
  position: absolute;
  bottom: 27px;
  right: 36px;
  display: flex;
  align-items: center;
}

.modal_close {
  width: 77px;
  height: 33px;
  display: inline-flex;
  padding: 2px 14px 3px 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid #929292;
  background: #fff;
  color: #929292;
  font-family: Noto Sans KR;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.475px;
  margin: 13px;
}

.modal_save {
  width: 90px;
  height: 33px;
  display: inline-flex;
  padding: 2px 15px 3px 8px;
  align-items: center;
  gap: 5px;
  border: 1px solid #0075ff;
  background: #fff;
  color: #0075ff;
  font-family: Noto Sans KR;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.475px;
}

/*profile 수정 모달*/
.profilemodal_content {
  position: relative;
  display: flex;
  width: 912px;
  height: 355px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 20px 14px rgba(0, 0, 0, 0.25);
  padding: 30px 0 0 39px;
}

.profile_img {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  background: #d9d9d9;
  margin-right: 40px;
}

.profilemodal_info p:first-child {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.575px;
  margin-bottom: 7px;
}
.profilemodal_info p:nth-child(2) {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 34px;
}

.profilemodal_button {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.profilemodal_upload {
  width: 93px;
  height: 33px;
  display: inline-flex;
  padding: 5px 14px 4px 7px;
  align-items: flex-start;
  border: 1px solid #696969;
  background: #fff;
  margin-bottom: 7px;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.35px;
  align-items: center;
}

.profilemodal_delete {
  display: inline-flex;
  padding: 5px 19px 4px 8px;
  align-items: flex-start;
  border: 1px solid #696969;
  background: #fff;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.35px;
  align-items: center;
}

/*트위터 링크 수정*/
.twittermodal_content {
  position: relative;
  width: 578px;
  height: 237px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 20px 14px rgba(0, 0, 0, 0.25);
  padding: 30px 0 0 36px;
}

.twittermodal_content p {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.575px;
  margin-bottom: 36px;
}

.twittermodal_content input {
  width: 508px;
  height: 25px;
  display: inline-flex;
  padding-left: 3px;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

/*직업군 수정 모달*/
.rolemodal_content {
  position: relative;
  width: 592px;
  height: 241px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 4px 20px 14px rgba(0, 0, 0, 0.25);
  padding: 37px 0 0 28px;
}

.rolemodal_content p {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.575px;
  margin-bottom: 34px;
}

.rolemodal_checkbox {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
}

.rolemodal_checkbox input {
  margin-right: 7px;
}
.rolemodal_checkbox input:not(:first-child) {
  margin-left: 30px;
  margin-right: 7px;
}
